*.csv
*.tsv
*.pdf
*.png
*.svg
*.fastq
*.fastq.gz
*.qza
*.biom
*.qzv
*.bib
*.bibtex
*.pages
*.RData
*.Rhistory
*.fasta
*-checkpoint.ipynb
longitudinal-tutorial/*
*.pyc
*.zip
*.html
*.numbers
chloroplast/*
*_fastqc.zip
*_fastqc.html
*.numbers
chloroplast/training-phytoref-classifier/Cyanobacteria_p98.txt
chloroplast/training-phytoref-classifier/PhytoRef_with_taxonomy.txt
a1f0f8c58b7341da1925096f4ed46544fbf40aeb
